<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Flydown</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserSignupServlet</servlet-name>
    <servlet-class>controller.UserSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignupServlet</servlet-name>
    <url-pattern>/user_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleSearch</servlet-name>
    <servlet-class>controller.HandleSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckRoute</servlet-name>
    <servlet-class>controller.CheckRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRoute</servlet-name>
    <url-pattern>/checkRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleSearchStopover</servlet-name>
    <servlet-class>controller.HandleSearchStopover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSearchStopover</servlet-name>
    <url-pattern>/stopover_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadPost</servlet-name>
    <servlet-class>controller.UploadPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPost</servlet-name>
    <url-pattern>/UploadPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPost</servlet-name>
    <servlet-class>controller.ShowPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPost</servlet-name>
    <url-pattern>/ShowPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SocialLogin</servlet-name>
    <servlet-class>controller.SocialLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocialLogin</servlet-name>
    <url-pattern>/SocialLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadComment</servlet-name>
    <servlet-class>controller.UploadComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadComment</servlet-name>
    <url-pattern>/UploadComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowComment</servlet-name>
    <servlet-class>controller.ShowComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComment</servlet-name>
    <url-pattern>/ShowComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartContent</servlet-name>
    <servlet-class>controller.CartContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartContent</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>controller.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>controller.DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/DeletePost</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>controller.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TicketResult</servlet-name>
    <servlet-class>controller.TicketResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketResult</servlet-name>
    <url-pattern>/TicketResult</url-pattern>
  </servlet-mapping>
  
</web-app>